:root {
    --bg: #0E1721;
    --surface: #16212F;
    --texto: #EDEAE0;
    --destaque: #D4A73C;
    --erro: #B72D26;
    --borda: #29394B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--texto);
    font-family: sans-serif;
}

h1, h2 {
    color: var(--destaque);
}

input, select, button {
    background-color: var(--surface);
    color: var(--texto);
    border: 1px solid var(--borda);
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

/* Cor do botão*/

button {
    background-color: var(--destaque);
    color: var(--bg);
    font-weight: bold;
    cursor: pointer;
    border: none;
}

body {
    background-color: var(--bg);
    color: var(--texto);
    font-family: sans-serif;
    padding: 24px;
}

h1, h2 {
    color: var(--destaque);
    margin-top: 32px;
    margin-bottom: 12px;
}

#form-gasto, #lista-gastos {
    background-color: var(--surface);
    border: 1px solid var(--borda);
    border-radius: 8px;
    padding: 16px;
}

#form-gasto {
    display: flex;
    gap: 8px;
    align-items: center;
}

hr {
    border: none;
    border-top: 1px solid var(--borda);
    margin: 24px 0;
}

#lista-gastos div {
    padding: 8px 0;
    border-bottom: 1px solid var(--borda);
}

#lista-gastos div:last-child {
    border-bottom: none;
}

.auth-container {
    display: flex;
    max-width: 700px;
    margin: 80px auto;
    border-radius: 12px;
    overflow: hidden;
}

.auth-painel {
    flex: 1;
    background: linear-gradient(135deg, var(--destaque), var(--erro));
    padding: 40px;
    color: var(--bg);
}

.auth-formulario {
    flex: 1;
    background-color: var(--surface);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

#form-login, #form-registro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-painel h2 {
    color: var(--bg);
}


